/* 
	DUE TO WEBPACK BUNDLING BEHAVIOUR, 
	use local paths within current directory ('./') to access all resources
*/

/* Less commonly used light variant */
@font-face {
  font-family: 'AvenirXL';
  src: url('./AveniLig.eot');
  src: url('./AveniLig.eot') format('embedded-opentype'),
/*        url('./AveniLig.woff') format('woff'), */
       url('./AveniLig.ttf') format('truetype'),
       url('./AveniLig.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Lightweight body font */
@font-face {
  font-family: 'AvenirL';
  src: url('./AveniBoo.eot');
  src: url('./AveniBoo.eot') format('embedded-opentype'),
/*        url('./AveniBoo.woff') format('woff'), */
       url('./AveniBoo.ttf') format('truetype'),
       url('./AveniBoo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Default body font */
@font-face {
  font-family: 'Avenir';
  src: url('./AveniRom.eot');
  src: url('./AveniRom.eot') format('embedded-opentype'),
/*        url('./AveniRom.woff') format('woff'), */
       url('./AveniRom.ttf') format('truetype'),
       url('./AveniRom.svg') format('svg');
  font-style: normal;
}

/* Heavyweight body font */
@font-face {
  font-family: 'AvenirB';
  src: url('./AveniMed.eot');
  src: url('./AveniMed.eot') format('embedded-opentype'),
/*        url('./AveniMed.woff') format('woff'), */
       url('./AveniMed.ttf') format('truetype'),
       url('./AveniMed.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* Less commonly used heavy variant */
@font-face {
  font-family: 'AvenirXB';
  src: url('./AveniHea.eot');
  src: url('./AveniHea.eot') format('embedded-opentype'),
/*        url('./AveniHea.woff') format('woff'), */
       url('./AveniHea.ttf') format('truetype'),
       url('./AveniHea.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'AvenirL', Helvetica, Arial, sans-serif;
  letter-spacing: .0125em;
}

h1 {
  font-family: 'AvenirXL', Helvetica, Arial, sans-serif;
  letter-spacing: .0325em;
}

/* ---- */

body {
  color: #000;
  margin: 0;
}

h1 {
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 1rem;
	margin: .25em 0;
}

h2 {
	font-size: 1rem;
	font-weight: normal;
	line-height: 1rem;
  letter-spacing: .0125em;
	margin: 0;
}

input {
	font-size: 1rem;
	padding: .25rem .5rem;
	margin: 0;
}

input[type=checkbox] {
	padding: 0;
	margin: .2rem 0 0 0;
}

input[type=text] {
	border: solid thin #666;
}

input::placeholder {
  color: #ccc;	
}

ul {
  display: table;
  padding: 0;
  margin: 0;
}

li {
  display: table-cell;
  height: 2.5rem;
  font-size: .85rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  white-space: nowrap;
  list-style-type: none;
  vertical-align: middle;
  padding-left: .5rem;
}

header {
  color: #fff;
  background-color: #556370;
  padding: 1.5rem 1.625rem;
}

header nav {
	white-space: nowrap;
}

header nav > div {
	display: inline-block;
	vertical-align: middle;
}

#logo {
	width: 2rem;
	height: 2rem;
  background-image: url('./logo.svg');
  margin: 0 1rem 0 0;
}

main {
	padding: 2rem;
}

form {
	max-width: 36rem;
}

form td {
	padding: 0 2.5rem 0 0;
}

form td:first-child {
	padding-right: .625rem;
}

form td:last-child {
	padding-right: 0;
}

form tr {
	vertical-align: top;
}

form .label {
	padding: 0 0 1rem 0;
}

form aside {
	width: 20rem;
	max-width: 20rem;
	font-size: .825rem;
	color: #999;
}

form .hint {
	font-size: .825rem;
	color: #999;
	margin: .325rem 0 0 0;
}

form .sep td {
	padding: 2.5rem 0 1.5rem 0;
}

form .sep h2 {
  color: #7d7d7d;
}

form .sep div {
	overflow: hidden;
	line-height: 0;
	height: 0;
	border-bottom: dotted thin #ccc;
	margin: .5rem 0 0 0;
}

form .sep.warn h2 {
	color: #c00;
}

form .sep.warn div {
	border-color: #c00;
}

.ctrl, #logo {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.ctrl, label {
  cursor: pointer;
}

.ctrl {
  width: 3.75rem;
  height: 3.75rem;
  transition: opacity 1s;
}

.ctrl.email {
  background-image: url('./images/action_email.svg');
}

.ctrl.linkedin {
  background-image: url('./images/action_linkedin.svg');
}

/* ---- */

@media only screen and (max-width : 1024px) {
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
}
